@font-face {
    font-family: 'drummond-font';
    src: url(drummond-regular.ttf);
    src: url(drummond-regular.otf);
}

body {
	font-family: 'Slabo 27px', serif;
}

nav {
	font-family: 'drummond-font', 'Slabo 27px', serif;
	margin-bottom: 50px;
}

@media (max-width: 767px) { 
	
	.mobile-centered {
		text-align: center;
	}

	.music-margin {
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

@media (min-width: 767px) { 
	
	.buy-button {
		float: right;
	}

}

.form-control {
	border: 1px solid black;
	border-radius: 0;
}

.card {
	border: 3px solid black;
	border-radius: 0;
}

.card-img-top {
	border-radius: 0;
}

.navbar {
	background-color: white !important;
	border-bottom: 1px solid #e2e2e2;
}

.btn-outline-dark {
	border-radius: 0;
}

.navbar-brand {
	letter-spacing: 5px;
}

.drummond-font {
	font-family: 'drummond-font', 'Slabo 27px', serif;
	letter-spacing: 5px;
}

.submit-button:hover {
	cursor: pointer;
}

.list-social-icons {
	margin-top: 10px;
}

.fa-stack {
	color: black;
}

.fa-stack:hover {
	opacity: 0.7
}

.black-border {
	border: 3px solid black;
}

.splash {
    text-align: center;
}

.splash .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

.splash img {
    display: block;
    margin: 0 auto 20px;
}
